.PageFooter2 {
    width: auto;
    height: 50px;
    display: flex;
    /* justify-content: right; */
    padding: 1em;
    padding-top: 7.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    background-color: purple;
    width: 100%;
    color: #fff;
    text-size-adjust: 50%;
   }