.PageFooter {
    width: 100%;
    height: 50%;
    display: flex;
    /* justify-content: right; */
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    width: 100%;
    background-color: lightskyblue;
    color: #fff;
    text-size-adjust: 50%;
   }
