.PageHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 2.5em;
    padding-right: 2.5em;
    width:97%;
    background-color: purple;
    color: whitesmoke;
   }
   
h1 {
    color: whitesmoke;
}


this.img {
    width: 10%;
    /* border-radius: ; */
    /* justify-content: left; */
}

a {
    padding: 20px;
    font-size: 24px;
    color: black;
}
